body{
  background: linear-gradient(to bottom right,#DCDCDC,#F0FFFF);
  padding: 1em;
}

a{
  padding: .25em;
}

a:link{
  color:#69BE28;
}

a:hover{
  color: #FFFFFF;
}

a:active{
  color: #FB4F14;
}

h3{
  margin: none;
}

hr {
  width: 100%;
}

h1{
  color:#A5ACAF;
}

.top-header{
  display: table;
  margin: auto;
  color: #002244;
}

.about-me{
  width: 50%;
  margin: auto;
  padding-bottom: 2em;
}

.template{
  display: none;
}

.social{
  display: table;
  margin: auto;
  font-weight: bold;
}
.pic{
  float: right;
}
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.line {
  color: #A5ACAF;
}

.ratings{


}

.count-up{
  display: inline-block;
  font-style: italic;
}

.count-down{
  display: inline-block;
  font-style: italic;
}

.thumbs-up{
  width:2em;
  height: 2em;
}

.thumbs-down{
  width: 2em;
  height: 2em;
}

#projects{
  margin: auto;
  width: 80%;
  height: 50em;
  overflow: scroll;
  background: linear-gradient(#002244,white);
}
