body{
  background: linear-gradient(to bottom right,#DCDCDC,#F0FFFF);
  padding: 1em;
}

a{
  padding: .25em;
}

a:link{
  color:#69BE28;
}


h3{
  margin: none;
}

hr {
  width: 100%;
}

h1{
  /*color:#A5ACAF;*/
  color:#535353
}

.pablo-pic{
  float: right;
}
