.navigation {
  margin: auto;
  display: table;
}
.navigation img{
  width:3em;
  height:3em;
  padding: .5em;
}
.button-one{
  color:blue;
}

.button-two{
  color: red;
}

.top-header{
  display: table;
  margin: auto;
  color: #002244;
}

.about-me{
  width: 50%;
  margin: auto;
  margin-top: 1em;
  padding-bottom: 2em;
  border-width: thin;
  border-style: groove;
}

.template{
  display: none;
}

.social{
  display: table;
  margin: auto;
  font-weight: bold;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.line {
  color: #A5ACAF;
}

.ratings{


}

.count-up{
  display: inline-block;
  font-style: italic;
}

.count-down{
  display: inline-block;
  font-style: italic;
}

.thumbs-up{
  width:2em;
  height: 2em;
}

.thumbs-down{
  width: 2em;
  height: 2em;
}

.projects{
  margin: auto;
  width: 80%;
  height: 50em;
  overflow: scroll;
  background: linear-gradient(#002244,white);
}

@media only screen and (max-width: 760px){
  .pull-left {
    float: left;
    width:100%;
  }
  .pull-right {
    float: right;
    width:50%;
  }

}
